@import "./variables.scss";
@import "./mixins.scss";

$viewerWidth: 720px;
$viewerHeight: 420px;

.viewerContainer {
  background-image: url("../img/bg.png");
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

  .viewer {
    min-width: $viewerWidth;
    height: $viewerHeight;
    margin-bottom: 100px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.4);

    .modalButton {
      position: absolute;
      top: -28px;
      right: 8px;
      color: rgba($black, 0.4);
      font-size: 1.2rem;
      cursor: pointer;
    }

    canvas {
      width: $viewerWidth;
      height: $viewerHeight;
    }

    .optionBox {
      position: absolute;
      bottom: 15px;
      left: 15px;
      font-size: 1.2rem;
      font-weight: 800;
      color: rgba($black, 0.3);
      background-color: rgba($white, 0.8);
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2);

      input {
        accent-color: rgb(114, 114, 114);
      }
    }

    .copyButton {
      @include basicButton;
      position: absolute;
      bottom: -80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.7);

  img {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translateX(-50%);
  }
}

.visible {
  display: block;
}
